

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <body background="kk\byton-1.jpg"></body>
    <link rel="stylesheet" type="text/css" href="mystyle.css" />

    <style TYPE="text/css">
        A:link{text-decoration:none}
        A:visited{text-decoration:none}
        A:hover {color: #ff00ff;text-decoration:none}

        .gallery > a:hover {
            z-index: 1;
          }
    
        .gallery > a:hover > img {
            transform: scale(1.3, 1.3);
            transition: .3s transform;
        }
    </style>
</head>
<div class="gallery" style="width:1000px; margin:100px auto;">
    <a href="http://www.w3cschool.cn/" ><img class='test' src="iconsflow\icon1.png"  alt="图片说明" align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon2.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon3.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon4.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon5.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon6.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon7.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon8.png"  alt="图片说明"  align="float:middle"> </a>
    <a href="http://www.w3cschool.cn/" ><img src="iconsflow\icon9.png" alt="图片说明"  align="float:middle"> </a>

</div>

